.niMo {
    background: url(../img/dog.jpg) no-repeat 15.4% 23.25%/687%;
}

.siPaQi {
    background: url(../img/dog.jpg) no-repeat 38% 23.4%/697%;
}

.baGong {
    background: url(../img/dog.jpg) no-repeat 60.6% 23.3%/685%;
}

.luoLuo {
    background: url(../img/dog.jpg) no-repeat 83% 23.5%/697%;
}

.maoMao {
    background: url(../img/dog.jpg) no-repeat 15.5% 43.3%/697%;
}

.maiKeSi {
    background: url(../img/dog.jpg) no-repeat 38% 43.3%/697%;
}

.baiCaiGou {
    background: url(../img/dog.jpg) no-repeat 60.5% 43.4%/697%;
}

.kaTuo {
    background: url(../img/dog.jpg) no-repeat 83% 43.4%/697%;
}

.xueNuo {
    background: url(../img/dog.jpg) no-repeat 16% 63.3%/697%;
}

.sangNi {
    background: url(../img/dog.jpg) no-repeat 38% 63.4%/697%;
}

.shanMu {
    background: url(../img/dog.jpg) no-repeat 60.5% 63.2%/697%;
}

.haShiQi {
    background: url(../img/canDive.jpg) no-repeat 16% 69%/695%;
}

.luoEn {
    background: url(../img/dog.jpg) no-repeat 16% 83.4%/697%;
}

.siDaiLa {
    background: url(../img/dog.jpg) no-repeat 38% 83.4%/697%;
}

.maQiDuo {
    background: url(../img/cat.jpg) no-repeat 15.4% 23.4%/697%;
}

.taiGe {
    background: url(../img/cat.jpg) no-repeat 39% 23.4%/697%;
}

.jiaFei {
    background: url(../img/cat.jpg) no-repeat 62.2% 23.4%/697%;
}

.liWeiEr {
    background: url(../img/cat.jpg) no-repeat 85.6% 23.5%/697%;
}

.xiZi {
    background: url(../img/cat.jpg) no-repeat 15.5% 46.2%/697%;
}

.duDu {
    background: url(../img/cat.jpg) no-repeat 39% 46.3%/697%;
}

.maNaiQi {
    background: url(../img/cat.jpg) no-repeat 62.4% 46.3%/697%;
}

.miaoMiao {
    background: url(../img/cat.jpg) no-repeat 85.6% 46.2%/697%;
}

.xingQiTian {
    background: url(../img/cat.jpg) no-repeat 16% 69.1%/697%
}

.eBa {
    background: url(../img/canDive.jpg) no-repeat 16% 23.4%/695%;
}

.diBaoTian {
    background: url(../img/hasHorn.jpg) no-repeat 17.5% 24.8%/514%;
}

.waTe {
    background: url(../img/canDive.jpg) no-repeat 39% 23.4%/695%;
}

.tuSiKaEr {
    background: url(../img/canDive.jpg) no-repeat 15.8% 46.3%/695%;
}

.muMu {
    background: url(../img/canFly.jpg) no-repeat 83.8% 24.9%/517%;
}

.guGu {
    background: url(../img/canFly.jpg) no-repeat 17.5% 54%/514%;
}

.chuiZi {
    background: url(../img/canDive.jpg) no-repeat 39.2% 46.3%/695%
}

.buLuSi {
    background: url(../img/canDive.jpg) no-repeat 62.2% 46.3%/695%
}

.ciTou {
    background: url(../img/eatMeat.jpg) no-repeat 60.3% 68.5%/832%;
}

.aGua {
    background: url(../img/canFly.jpg) no-repeat 17.5% 24.8%/514%;
}

.aDai {
    background: url(../img/canDive.jpg) no-repeat 85.8% 23.3%/690%;
}

.aBao {
    background: url(../img/canFly.jpg) no-repeat 17.7% 83.2%/514%;
}

.youLuoSha {
    background: url(../img/canFly.jpg) no-repeat 50.8% 54.1%/514%;
}

.baoLi {
    background: url(../img/canFly.jpg) no-repeat 83.7% 54%/514%;
}

.waLi {
    background: url(../img/hasHorn.jpg) no-repeat 50.5% 25%/521%;
}

.moSi {
    background: url(../img/hasHorn.jpg) no-repeat 83.3% 25%/521%;
}

.keDiSi {
    background: url(../img/hasHorn.jpg) no-repeat 17.6% 54%/521%;
}

.mieMie {
    background: url(../img/hasHorn.jpg) no-repeat 83.8% 54.1%/521%;
}

.aoLi {
    background: url(../img/hasBigEyes.jpg) no-repeat 61% 43.4%/703%;
}

.aoMuNuoMu {
    background: url(../img/hasBigEyes.jpg) no-repeat 60.4% 63.5%/703%;
}

.douDou {
    background: url(../img/hasBigEyes.jpg) no-repeat 83% 63.4%/703%;
}

.taiLeiSi {
    background: url(../img/canLayEggs.jpg) no-repeat 86% 69.1%/677%;
}

.kaLuoTe {
    background: url(../img/eartPlants.jpg) no-repeat 9.3% 22.9%/752.4%;
}

.peiGen {
    background: url(../img/eartPlants.jpg) no-repeat 30.5% 22.9%/752.4%;
}

.baBi {
    background: url(../img/eartPlants.jpg) no-repeat 51.4% 22.9%/752.4%;
}

.baoBo {
    background: url(../img/eartPlants.jpg) no-repeat 30.4% 62.3%/752.4%;
}

.xiaoXin {
    background: url(../img/eartPlants.jpg) no-repeat 51.5% 62.3%/752.4%;
}

.keLe {
    background: url(../img/eartPlants.jpg) no-repeat 72.9% 62.3%/752.4%;
}

.gaoFei {
    background: url(../img/eartPlants.jpg) no-repeat 94% 62.3%/752.4%;
}

.fuJi {
    background: url(../img/eartPlants.jpg) no-repeat 51.7% 82.1%/752.4%;
}

.fuBao {
    background: url(../img/eartPlants.jpg) no-repeat 72.9% 82%/752.4%;
}