@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url("https://at.alicdn.com/t/c/font_4820417_oc9b2kyn32m.css");

#app {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    min-width: 285px;
    background: #f3f3f3;
}

.header .title {
    text-align: center;
    color: #409eff;
    padding-top: 15px;
    text-transform: uppercase;
    font-family: 'Luckiest Guy';
    font-size: 30px;
    text-shadow: 1px -1px #fff, -1px 1px #999, -2px 2px 2px #808080;
}

.choose-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px 0;
}


.choose-item {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    padding: 2px 5px;
    outline: 2px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s;
    margin: 5px;
    color: #646464;
    cursor: pointer;

    label {
        cursor: pointer;
        display: block;
        width: 100%;
        height: 100%;
    }
}

.choose-item:has(input:checked) {
    outline-color: #409eff;
}

.choose-item input[type="checkbox"] {
    vertical-align: bottom;
    height: 100%;
    display: inline-block;
    cursor: pointer;
}

.choose-item input[type="checkbox"]+.desc {
    display: inline-block;
    height: 100%;
    cursor: pointer;
}

input:checked+.desc {
    color: #409eff;
}

.result-area .text {
    text-align: center;
    padding: 0 10px;
    color: #464141;
}

.result-container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    padding: 0 20px 20px;
    text-align: center;
}

.result-item {
    --w: 140px;
    width: var(--w);
    height: 178px;
    border-radius: 10%;
    box-shadow: 0px 0px 10px #3c3c3c;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    --n: 6;
    --space: calc(100% / var(--n) - var(--w));
    --m: calc(var(--space) / 2);
    margin: 10px var(--m);
    /* border: 2px solid #ab0000; */
    box-sizing: border-box;
    position: relative;
}

.result-item .animal-desc {
    position: absolute;
    width: 150%;
    left: -25%;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px 0 5px;
    color: #8ee1e1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    opacity: 0;
    transition: all 0.3s;
    pointer-events: none;
}

.animal-desc .animal-name {
    color: #f3f3f3;
    margin-bottom: 5px;
}

.animal-desc .animal-type {
    margin-bottom: 5px;
}

.animal-type.selected {
    color: #7eff6b;
    .iconfont{
        vertical-align: middle;
        margin-left: 3px;
        font-size: 8px;
    }
}

.result-item:hover {
    transform: scale(1.05);
}

.no-result {
    width: 100%;
    color: #d53333;
}

.footer {
    text-align: center;
    padding: 10px 0;

    a {
        color: #409eff;
    }

    .version-desc {
        font-size: 12px;
        margin-top: 10px;
    }
}

/* 小屏幕，手机 */
@media screen and (max-width: 768px) {
    .result-item {
        --n: 3;
        --space: calc(100% / var(--n) - var(--w));
        --w: 75px;
        height: 95px;
    }

    .result-item.hover {
        .animal-desc {
            opacity: 1;
            bottom: 110px;
        }
    }

    .choose-item {
        font-size: 14px;
        height: 25px;
        line-height: 25px;
    }

    * {
        cursor: default !important;
    }
}

/* 中屏幕，平板 */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .result-item {
        --n: 3;
        --space: calc(100% / var(--n) - var(--w));
        --w: 140px;
        height: 178px;
    }

    .choose-item {
        font-size: 14px;
        height: 25px;
        line-height: 25px;
    }

    .result-item.hover {
        .animal-desc {
            opacity: 1;
            bottom: 185px;
        }
    }

    * {
        cursor: default !important;
    }
}

/* 大屏幕，电脑 */
@media screen and (min-width: 1025px) {
    .result-item {
        --n: 6;
        --space: calc(100% / var(--n) - var(--w));
        --w: 140px;
        height: 178px;

    }

    .result-item.hover {
        .animal-desc {
            opacity: 1;
            bottom: 190px;
        }
    }

    .choose-item {
        font-size: 16px;
        height: 30px;
        line-height: 30px;
    }
}
