@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url("https://at.alicdn.com/t/c/font_4820417_oc9b2kyn32m.css");


#app {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    min-width: 285px;
    min-height: 100vh;
    background: #f5f2eb;
    display: flex;
    flex-direction: column;
}

#app::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: url(../img/bg.webp) repeat;
    background-size: 100%;
    background-position: top;
    opacity: .035;
    pointer-events: none;
}

.header {
    width: 100%;
    height: 50px;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #409eff;
    position: relative;

    .more {
        font-size: 12px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        position: absolute;
        top: 15px;
        right: 15px;
        border: 1px solid #ccc;
        border-radius: 50%;

        >.title {
            color: #ccc;

            &:active {
                color: #576bde;
            }
        }

        .setting-container {
            position: absolute;
            top: -200px;
            right: 10px;
            background: rgba(255, 255, 255, 0.8);
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 5px;
            z-index: 1;
            width: 260px;
            transition: all 0.3s;
            opacity: 0;

            &.show {
                top: 40px;
                opacity: 1;
            }

            .setting-item {
                padding: 15px 5px;
                display: flex;
                align-items: center;

                .desc {
                    margin-left: 5px;
                    width: 70%;
                    line-height: 20px;
                    color: #717171;

                    .title {
                        color: #008c8c;
                    }

                    &.onlyMobile::after {
                        content: "*仅移动端生效";
                        font-size: 10px;
                        color: #e17474;
                    }
                }

                .switch-container {
                    width: 30%;
                    display: flex;
                    justify-content: flex-end;
                }

                /* The switch - the box around the slider */
                .switch {
                    --a: 0.5s ease-out;
                    position: relative;
                    display: inline-flex;
                    height: 1em;
                    border-radius: 2em;
                    box-shadow: 0 0 0 0.66em #aaa;
                    aspect-ratio: 212.4992/84.4688;
                    background-color: #aaa;
                }

                /* Hide default HTML checkbox */
                .check {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }

                .switch {
                    margin-right: 20px;
                }


                .switch svg {
                    height: 100%;
                }

                .switch svg path {
                    color: #fff;
                    stroke-width: 16;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-dasharray: 136 224;
                    transition:
                        all var(--a),
                        0s transform;
                    transform-origin: center;
                }

                .check:checked~.switch svg path {
                    stroke-dashoffset: 180;
                    transform: scaleY(-1);
                }
            }
        }
    }
}

.header .txt {
    margin-top: 10px;
    font-family: 'Arial';

}

.flip-container {
    perspective: 1000px;
    /* 3D透视效果 */
}

.flipper {
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* 保持3D空间 */
}

.flip-container:hover .flipper {
    transform: rotateY(180deg);
    /* 悬停时翻转180度 */
}

.flipper .flip-front,
.flipper .flip-back {
    backface-visibility: hidden;
    text-transform: uppercase;
    font-family: 'Luckiest Guy';
    font-size: 30px;
    text-shadow: 1px -1px #fff, -1px 1px #999, -2px 2px 2px #808080;

}

.flipper .flip-back {
    text-align: center;
    position: absolute;
    width: 150%;
    height: 100%;
    top: 0;
    left: -25%;
    transform: rotateY(180deg);
    /* 初始状态为翻转状态 */
}

.choose-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 15px 0;
}

.choose-item {
    --n: 11;
    --w: calc(100% / var(--n) - 20px);
    width: var(--w);
    --space: calc(100% / var(--n) - var(--w));
    --m: calc(var(--space) / 2);
    height: 30px;
    line-height: 30px;
    outline: 2px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s;
    margin: 5px var(--m);
    color: #646464;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;

    label {
        cursor: inherit;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}

.choose-item:has(input:checked) {
    outline-color: #409eff;
}

.choose-item input[type="checkbox"] {
    height: 100%;
    display: inline-block;
    cursor: inherit;
    margin-left: 10px;
}

.choose-item input[type="checkbox"]+.desc {
    display: inline-block;
    height: 100%;
    cursor: inherit;
    margin-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

input:checked+.desc {
    color: #409eff;
}

.result-area {
    flex: 1;
}

.result-area .text {
    text-align: center;
    padding: 0 10px;
    color: #464141;
}

.result-container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    padding: 0 20px 20px;
    text-align: center;
}

.result-item {
    --w: 140px;
    width: var(--w);
    height: 178px;
    border-radius: 10%;
    box-shadow: 0px 0px 10px #3c3c3c;
    transition: transform var(--t, 0s) ease-in-out;
    cursor: pointer;
    --n: 6;
    --space: calc(100% / var(--n) - var(--w));
    --m: calc(var(--space) / 2);
    margin: 10px var(--m);
    /* border: 2px solid #ab0000; */
    box-sizing: border-box;
    position: relative;
    transform: perspective(500px) rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
    z-index: var(--z, 0);
}

.result-item .animal-desc {
    position: absolute;
    width: 150%;
    left: -25%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px 0 5px;
    color: #8ee1e1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    opacity: 0;
    transition: all 0.3s;
    pointer-events: none;
    filter: drop-shadow(0px 0px 10px #3c3c3c);
}

.animal-desc.up {
    bottom: 0px;
}

.animal-desc.down {
    top: 0px;
}

.animal-desc .animal-name {
    color: #f3f3f3;
    margin-bottom: 5px;
}

.animal-desc .animal-type {
    margin-bottom: 5px;
}

.animal-type.selected {
    color: #7eff6b;

    .iconfont {
        vertical-align: middle;
        margin-left: 3px;
        font-size: 10px;
    }
}

.animal-desc.up::after,
.animal-desc.down::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.animal-desc.up::after {
    bottom: -10px;
    border-top: 10px solid rgba(0, 0, 0, 0.3);
}

.animal-desc.down::after {
    top: -10px;
    border-bottom: 10px solid rgba(0, 0, 0, 0.3);
}

.result-item.hover {
    box-shadow: 0px 0px 20px #0088ff;
}

.no-result {
    width: 100%;
    color: #d53333;
    margin: 10px 0 2em;
}

.no-find-container {
    width: 100%;

    img {
        width: 100%;
        max-width: min(974px, 100vw);
        margin: 0 auto;
    }
}

.footer {
    width: 100%;
    text-align: center;
    padding-top: 10px;

    a {
        color: #409eff;
    }

    .more {
        padding-top: 20px;
        background: #4e443e;
        color: #ccc;
    }

    .version-desc {
        font-size: 12px;
        padding: 10px 0;
    }

    .animal-img {
        position: relative;

        .img {
            position: relative;
            width: 100%;
            max-width: min(974px, 100vw);
            margin: 0 auto;
            pointer-events: none;
        }

        .wall {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 4vw;
            background: url(../img/wall.webp) repeat center/auto 100%;

        }
    }
}


/* 小手机 */
@media screen and (max-width: 400px) {
    .result-item {
        --n: 3;
        --w: 75px;
        height: 95px;
        cursor: default;
        
    }

    .result-item.hover {
        .animal-desc {
            opacity: 1;
        }

        .animal-desc.up {
            bottom: 110px;
        }

        .animal-desc.down {
            top: 110px;
        }
    }

    .choose-item {
        --n: 3;
        font-size: 12px;
        height: 25px;
        line-height: 25px;
        cursor: default;
         input[type="checkbox"] {
                display: none;
                +.desc{
                    margin-left: 10px;
                }
            }
            
    }
}

/* 小屏幕，手机 */
@media screen and (max-width: 768px) and (min-width:400px) {
    .result-item {
        --n: 3;
        --w: 75px;
        height: 95px;
        cursor: default;
    }

    .result-item.hover {
        .animal-desc {
            opacity: 1;
        }

        .animal-desc.up {
            bottom: 110px;
        }

        .animal-desc.down {
            top: 110px;
        }
    }

    .choose-item {
        --n: 3;
        font-size: 12px;
        height: 25px;
        line-height: 25px;
        cursor: default;
    }

}

/* 中屏幕，平板 */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .result-item {
        --n: 3;
        --w: 140px;
        height: 178px;
    }

    .choose-item {
        --n: 6;
        font-size: 14px;
        height: 25px;
        line-height: 25px;
    }

    .result-item.hover {
        .animal-desc {
            opacity: 1;
        }

        .animal-desc.up {
            bottom: 190px;
        }

        .animal-desc.down {
            top: 190px;
        }
    }
}

/* 大屏幕，电脑 */
@media screen and (min-width: 1025px) {
    .result-item {
        --n: 6;
        --w: 140px;
        height: 178px;
    }

    .result-item.hover {
        .animal-desc {
            opacity: 1;
        }

        .animal-desc.up {
            bottom: 190px;
        }

        .animal-desc.down {
            top: 190px;
        }
    }

    .choose-item {
        --n: 11;
        font-size: 14px;
        height: 30px;
        line-height: 30px;
    }

    .footer .animal-img .wall {
        height: 37px;
    }
}